NiosII.jar
Snake.pdf
nios2sim.jar
.metals
.vscode
*.qpg
*.qtl
*.qdb
_info
_vmake
*.log
*log
*.mti
*.mpf
*.wlf
.project
.settings
.*
quartus_personal
quartus/db
quartus/*.map.*
quartus/*.sta.*
quartus/*.asm.*
quartus/*.fit.*
quartus/*.flow*
quartus/*.done*
quartus/*.mif_update.*
quartus/*.sof
quartus/*.qws
quartus/incremental_db
quartus/output_files/*
snake.asm.bak